.border-shadow {
    box-shadow: 1px 1px 8px 3px rgb(0, 0, 0);
}

p {
    color: whitesmoke;
    overflow: auto;
}

a:link {
    color: #ff0000;
}

a:visited {
    color: #0000ff;
}

a:hover {
    color: #ffcc00;
}

#carouselExampleIndicators {
    float: left;
}